.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  max-height: 600px;
}

#score {
  position: absolute;
  top: 80px;
  right: 30px;
  font-size: 2em;
  font-weight: 900;
}

#introduction {
  width: 550px;
  height: 45%;
  position: absolute;
  font-weight: 600;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  transition: opacity 2s;
}

#restart {
  width: 120px;
  height: 120px;
  position: absolute;
  border-radius: 50%;
  color: white;
  background-color: red;
  border: none;
  font-weight: 700;
  font-size: 1.2em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: none;
  cursor: pointer;
}

#perfect {
  position: absolute;
  opacity: 0;
  transition: opacity 2s;
}
#game{

    height: 600px;
    width: 100%;
      border: 1px solid black;

}
.message {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
 margin-bottom: 10px;
}
button{
position: relative;
top: 40%;
}

/*center credits class and creditsref id under container div*/
.credits{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0px;
}
#creditsref{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}
