@page "/BadRequest"

<div class="message">
    <span class="message">
ניסיתם להגיע לדף בלי גישה, בנתים תוכלו להעביר את הזמן במשחק נוסף
</span>
</div>
<div class="container">
  <div id="score"></div>
  <canvas id="game"></canvas>
  <div id="introduction">החזיקו את העכבר לחוץ בכדי למתוח מקל</div>
  <div id="perfect">בונוס! נגעת בנקודה האדומה</div>
  <button id="restart">שחקו שוב</button>
</div>
<script src="js/BadRequest.js"></script>
