﻿ /**********MAGIC***********/
tbody.wrong-table {
    background-color: white;
    display: block;
    max-height: 354px;
    overflow-y: auto;
}

thead.wrong-table, tbody.wrong-table tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

tbody.correct-table {
    background-color: white;
    display: block;
    max-height: 354px;
    overflow-y: auto;
}

    thead.correct-table, tbody.correct-table tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }


.table1 {
    background-color: whitesmoke;
    border-spacing: 0;
    padding: 0;
    margin-bottom: 5px;
    max-height: 391px;
}



.table2 {
    background-color: whitesmoke;
    padding: 0 10px 0 11px;
    background-clip: content-box, padding-box;
    max-height: 392px;
}


::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.05);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 16px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: lightgray;
    background-image: -webkit-linear-gradient(90deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, .1) 75%, transparent 75%, transparent)
}




.custom-tooltip {
    display: inline-block;
    cursor: pointer; /* Set cursor to indicate a tooltip */
}

    .custom-tooltip:hover .tooltip-content {
        display: block;
    }

.tooltip-content {
    display: none;
    position: absolute;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 4px;
    border-radius: 4px;
    white-space: nowrap;
}



/* Change color on hover for the icons */
.fa-check-circle:before {
    font-size: 15px;
    transition: color 0.2s; /* Add a smooth color transition */
}

.icon:hover {
    color: darkorange; /* Change the color on hover */
}

/*TABLES*/

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 0px solid black;
    margin-bottom: 8px;
    background-color: whitesmoke;
}

.MainTable th, .MainTable td {
    padding: 10px;
}

.Categories th, .Categories td {
    padding: 8px;
}

.Answers td {
    padding: 4px;
    padding-right: 10px;
}

.Answers th {
    padding: 7px;
}

.footer td {
    padding: 5px;
}



.MainTable th {
    background-color: #ACACAC;
    color: white;
}


tr {
    background-color: #E8E8E8;
}





.picBTN {
    float: right;
    padding: 1px;
    margin: 1px;
}

i:active {
    color: green;
}

.textBTN {
    float: left;
    padding: 1px;
    margin: 1px;
}

.rightText {
    float: left;
    padding: 1px;
    margin: 1px;
}

.wrongText {
    float: right;
    padding: 1px;
    margin: 1px;
}



.picortext {
    color: black;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 0;
    background: none;
    border: none;
    font-size: 30px;
    font-weight: normal;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    transition: background-color 0.3s ease;
}


    .picortext:hover {
        color: darkorange; /* Change the color on hover */
    }


.plasteanswer {
    display: block; /* remove extra space below image */
    background-repeat: no-repeat;
    position: relative;
    border: 0px solid black;
}

.container {
    border: 1px solid black;
    position: relative;
    text-align: center;
    color: white;
}

    .container img {
        height: 100px;
        width: 100px;
        margin: auto;
        display: block;
        align-content: center;
        border: 0px solid black;
    }

.plasteanswer .centered {
    border: 0px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0px;
}

textarea {
    border: 0px solid black;
    outline: none;
    resize: none;
    background-color: transparent;
    text-align: center;
    font-size: 16px;
    margin: 0 auto;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

    textarea::placeholder {
        font-weight: bold;
        opacity: 0.5;
        text-align: center;
        vertical-align: middle;
        align-content: center;
    }

/************* Toggle Start ***************/

.checkbox-wrapper-64 input[type="checkbox"] {
    visibility: hidden;
    display: none;
}

.checkbox-wrapper-64 *,
.checkbox-wrapper-64 ::after,
.checkbox-wrapper-64 ::before {
    box-sizing: border-box;
}

/* The switch - the box around the slider */
.checkbox-wrapper-64 .switch {
    font-size: 12px;
    position: relative;
    display: inline-block;
    width: 4.3em;
    height: 2em;
}

    /* Hide default HTML checkbox */
    .checkbox-wrapper-64 .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

/* The slider */
.checkbox-wrapper-64 .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    border: 1px solid #adb5bd;
    transition: .2s;
    border-radius: 30px;
}

    .checkbox-wrapper-64 .slider:before {
        position: absolute;
        content: "";
        height: 1.4em;
        width: 1.4em;
        border-radius: 20px;
        left: 0.47em;
        bottom: 0.25em;
        background-color: #007bff;
        transition: .4s;
    }

.checkbox-wrapper-64 input:checked + .slider {
    background-color: #007bff;
    border: 1px solid #007bff;
}

.checkbox-wrapper-64 input:focus + .slider {
    box-shadow: 0 0 1px #007bff;
}

.checkbox-wrapper-64 input:checked + .slider:before {
    transform: translateX(1.9em);
    background-color: #fff;
}

/************* Toggle END ***************/

.container {
    border: 0px solid black;
    display: table;
    width: 72px;
    border-radius: 50%;
    height: 79%;
}

.tablerow {
    display: table-row;
}

.container .img-wrapper img {
    border: 0px solid black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-wrapper img {
    height: 74px;
    width: 74px;
    object-fit: contain; /*Contain OR COVER*/
    margin-left: 0px;
    border-radius: 50%;
}


.img-present img {
    height: 19px;
    width: 19px;
    object-fit: contain; /*Contain OR COVER*/
    margin-left: 0px;
    border-radius: 50%;
}
/*trash image will appear next to img on the right side same line*/
.trashImage {
    width: 25px;
    height: auto;
    border: 0px solid black;
    color: black;
    position: relative;
    left: 220%;
    bottom: 100%;
    margin-top: 70px;
}


.picortext:focus .fa {
    color: darkorange; /* New color when clicked */
}

#answerEditCancel {
    float: right;
    margin-left: 1px;
    margin-bottom: 1px;
}

#answerBTN button {
    /*align button to left*/
    float: left;
    margin-left: 1px;
    margin-bottom: 1px;
}




.img-present {
    position: relative;
    display: inline-block;
}

.img-container {
    position: relative;
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}

    .overlay i {
        color: white;
        font-size: 16px;
    }

.img-container:hover .overlay {
    opacity: 1;
}

.enlarge-toggle {
    display: none;
}

    .enlarge-toggle:checked + .img-container .image {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(16);
        z-index: 1000;
        box-shadow: 0px 0px 1px rgba(0,0,0,0.5);
        border: 0px solid lightgray;
        background-color: white;
    }

    .enlarge-toggle:checked + .img-container .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0,0,0, 0.5);
        z-index: 999;
        cursor: pointer;
        display: flex;
    }

.close-button {
    position: fixed;
    top: 0;
    Left: 0;
    background-color: #ffffff;
    color: #000000;
    border: 3px solid;
    width: 50px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
    cursor: pointer;
    font-size: 32px;
    font-weight: bold;
    display: none;
    z-index: 1001;
    line-height: 45px; /* Adjust as needed */
    text-align: center;
    align-items: center;
    justify-content: center;
}

    /* ... other styles ... */

    .close-button:hover {
        background-color: #ffffff; /* Keeps the background of the X button white */
        color: #ff0000; /* Changes the color of X to red, adjust as needed */
    }

/* ... other styles ... */


.enlarge-toggle:checked ~ .close-button {
    display: block;
}

.gameQuestionTD
{
    width: 27%;
}

.gameQuestionTable {
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}



.GezaTextandPicture {
    position: relative;
    padding: 0 !important; /* This will override any other padding set for tds */

    vertical-align: top !important; /* This ensures the content starts from the top of the td */
}

.checkbox-wrapper-64 {
    display: block;
    width: 100%;
    text-align: center;
    position: relative; /* Changed from absolute to relative */
    top: 0;
    left: 0;
    z-index: 2;
    padding-top: 1px !important; /* Added padding to give some space from the top */
}

.switchText {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    padding-left: 10px !important;
    font-size: 11px;
}

.switch {
    display: inline-block;
    vertical-align: middle;
}

.preview {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('assets-images/geza.png');
    background-size: 100% 100%; /* width height */
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    display: flex;
    align-items: center; /* Vertically center */
    justify-content: flex-start; /* Horizontally center */
}

    .preview p {
        text-align: right;
        font-size: 11px;
        font-weight: bold;
        margin: 35px 20px 1px 60px; /* Add some space between the text and the image */
        flex: 1; /* Allow the paragraph to take up the remaining space */
    }



    .preview img {
        margin: 24px 2px 1px 12px;
        float: left;
    }





td.preview {
    background-image: url('assets-images/geza.png');
    background-size: cover;
    background-position: center;
    position: relative; /* This ensures the td can contain positioned children */
}

    /* Any direct child of the td that you want to appear on top of the background */
    td.preview > * {
        position: relative;
        z-index: 1;
    }

.checkbox-wrapper-64 .switchText {
    margin-right: 10px;
}

td .checkbox-wrapper-64 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 3;
}

.flexContainer {
    display: flex;
    justify-content: center; /* Horizontally center the items */
    align-items: center; /* Vertically center the items */
    height: 100%; /* Take full height of the parent td */
}

.flexItem {
    flex: 1;
    text-align: center;
    padding: 1px;
    margin: 0 0;
    font-size: 12px;
}

.backBTN{
float: left;
    margin-left: 1px;
    margin-bottom: 1px;
}

.saveBTN {
    float: left;
    margin-left: 1px;
    margin-bottom: 1px;
}