﻿ /**********MAGIC***********/
tbody.wrong-table {
    background-color: white;
    display: block;
    max-height: 260px;
    overflow-y: auto;
}

thead.wrong-table, tbody.wrong-table tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

tbody.correct-table {
    background-color: white;
    display: block;
    max-height: 260px;
    overflow-y: auto;
}

    thead.correct-table, tbody.correct-table tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }


.table1 {
    background-color: whitesmoke;
    border-spacing: 0;
    padding: 0;
    margin-bottom: 5px;
    max-height: 312px;
}



.table2 {
    background-color: whitesmoke;
    padding: 0 10px 0 11px;
    background-clip: content-box, padding-box;
    max-height: 300px;
}


::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.05);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 16px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: lightgray;
    background-image: -webkit-linear-gradient(90deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, .1) 75%, transparent 75%, transparent)
}




.custom-tooltip {
    display: inline-block;
    cursor: pointer; /* Set cursor to indicate a tooltip */
}

    .custom-tooltip:hover .tooltip-content {
        display: block;
    }

.tooltip-content {
    display: none;
    position: absolute;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 4px;
    border-radius: 4px;
    white-space: nowrap;
}



/* Change color on hover for the icons */
.fa-check-circle:before {
    font-size: 15px;
    transition: color 0.2s; /* Add a smooth color transition */
}

.icon:hover {
    color: darkorange; /* Change the color on hover */
}

/*TABLES*/

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 0px solid black;
    margin-bottom: 6px;
    background-color: whitesmoke;
}

.MainTable th, .MainTable td {
    padding: 6px;
}

.Categories th, .Categories td {
    padding: 6px;
}

.Answers td {
    padding: 4px;
    padding-right: 10px;
}

.Answers th {
    padding: 7px;
}

.footer td {
    padding: 5px;
}



.MainTable th {
    background-color: #ACACAC;
    color: white;
}


tr {
    background-color: #E8E8E8;
}





.picBTN {
    float: right;
    padding: 1px;
    margin: 1px;
}

i:active {
    color: green;
}

.textBTN {
    float: left;
    padding: 1px;
    margin: 1px;
}

.rightText {
    float: left;
    padding: 1px;
    margin: 1px;
}

.wrongText {
    float: right;
    padding: 1px;
    margin: 1px;
}



.picortext {
    color: black;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 0;
    background: none;
    border: none;
    font-size: 30px;
    font-weight: normal;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    transition: background-color 0.3s ease;
}


    .picortext:hover {
        color: darkorange; /* Change the color on hover */
    }


.plasteanswer {
    display: block; /* remove extra space below image */
    background-repeat: no-repeat;
    position: relative;
    border: 0px solid black;
}

.container {
    border: 1px solid black;
    position: relative;
    text-align: center;
    color: white;
}

    .container img {
        height: 100px;
        width: 100px;
        margin: auto;
        display: block;
        align-content: center;
        border: 0px solid black;
    }

.plasteanswer .centered {
    border: 0px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0px;
}

textarea {
    border: 0px solid black;
    outline: none;
    resize: none;
    background-color: transparent;
    text-align: center;
    font-size: 16px;
    margin: 0 auto;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

    textarea::placeholder {
        font-weight: bold;
        opacity: 0.5;
        text-align: center;
        vertical-align: middle;
        align-content: center;
    }

/************* Toggle Start ***************/

.checkbox-wrapper-64 input[type="checkbox"] {
    visibility: hidden;
    display: none;
}

.checkbox-wrapper-64 *,
.checkbox-wrapper-64 ::after,
.checkbox-wrapper-64 ::before {
    box-sizing: border-box;
}

/* The switch - the box around the slider */
.checkbox-wrapper-64 .switch {
    font-size: 12px;
    position: relative;
    display: inline-block;
    width: 4.3em;
    height: 2em;
}

    /* Hide default HTML checkbox */
    .checkbox-wrapper-64 .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

/* The slider */
.checkbox-wrapper-64 .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    border: 1px solid #adb5bd;
    transition: .2s;
    border-radius: 30px;
}

    .checkbox-wrapper-64 .slider:before {
        position: absolute;
        content: "";
        height: 1.4em;
        width: 1.4em;
        border-radius: 20px;
        left: 0.47em;
        bottom: 0.25em;
        background-color: #007bff;
        transition: .4s;
    }

.checkbox-wrapper-64 input:checked + .slider {
    background-color: #007bff;
    border: 1px solid #007bff;
}

.checkbox-wrapper-64 input:focus + .slider {
    box-shadow: 0 0 1px #007bff;
}

.checkbox-wrapper-64 input:checked + .slider:before {
    transform: translateX(1.9em);
    background-color: #fff;
}

/************* Toggle END ***************/

.container {
    border: 0px solid black;
    display: table;
    width: 72px;
    border-radius: 50%;
    height: 79%;
}

.tablerow {
    display: table-row;
}

.container .img-wrapper img {
    border: 0px solid black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-wrapper img {
    height: 74px;
    width: 74px;
    object-fit: contain; /*Contain OR COVER*/
    margin-left: 0px;
    border-radius: 50%;
}


.img-present img {
    height: 19px;
    width: 19px;
    object-fit: contain; /*Contain OR COVER*/
    margin-left: 0px;
    border-radius: 50%;
}
/*trash image will appear next to img on the right side same line*/
.trashImage {
    width: 25px;
    height: auto;
    border: 0px solid black;
    color: black;
    position: relative;
    left: 220%;
    bottom: 100%;
    margin-top: 70px;
}


.picortext:focus .fa {
    color: darkorange; /* New color when clicked */
}



.img-present {
    position: relative;
    display: inline-block;
}

.img-container {
    position: relative;
    cursor: pointer;
}



.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}

    .overlay i {
        color: white;
        font-size: 16px;
    }

.img-container:hover .overlay {
    opacity: 1;
}

.img-container:focus .image,
.img-container:active .image {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(16);
    z-index: 1000;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.5);
    border: 0px solid lightgray;
    background-color: white;
}

.img-container:focus .overlay,
.img-container:active .overlay {
    display: none;
}

#answerEditCancel {
    float: right;
    margin-left: 1px;
    margin-bottom: 1px;
}

#answerBTN button {
    /*align button to left*/
    float: left;
    margin-left: 1px;
    margin-bottom: 1px;
}