@page "/"
@inject HttpClient Http
@inject NavigationManager Nav
@inject IModalService modal
@using TriangleProject.Shared.Models.Games;
@using TriangleProject.Shared.Models.Users;

<div class="container">
    <iframe scrolling="no" class="responsive-iframe" src="http://localhost/TriangleProject/Game/" loading="lazy"></iframe>
</div>


@code {
    [CascadingParameter]
    public int UserId { get; set; }

    UserWithGames user;
}