@page "/"
@inject HttpClient Http
@inject NavigationManager Nav
@inject IModalService modal
@using TriangleProject.Shared.Models.Games;
@using TriangleProject.Shared.Models.Users;

<h3>The user ID is: @UserId</h3>

<br />



@code {
    [CascadingParameter]
    public int UserId { get; set; }

    UserWithGames user;

    
}