/* Reset default table styles */
body {
    background-image: url('../wwwroot/assets-images/BG_Opacity.png');
/*    background-repeat: no-repeat;
*/    background-size: 2300px 1200px;
}
table {
    border-collapse: separate; /* Change to separate */
    border-spacing: 0; /* Remove border spacing */
    position: relative;
    background-color:white;
}

.checkbox-wrapper-19 {
    box-sizing: border-box;
    --background-color: #fff;
    --checkbox-height: 25px;
}

@-moz-keyframes dothabottomcheck-19 {
    0% {
        height: 0;
    }

    100% {
        height: calc(var(--checkbox-height) / 2);
    }
}

@-webkit-keyframes dothabottomcheck-19 {
    0% {
        height: 0;
    }

    100% {
        height: calc(var(--checkbox-height) / 2);
    }
}

@keyframes dothabottomcheck-19 {
    0% {
        height: 0;
    }

    100% {
        height: calc(var(--checkbox-height) / 2);
    }
}

@keyframes dothatopcheck-19 {
    0% {
        height: 0;
    }

    50% {
        height: 0;
    }

    100% {
        height: calc(var(--checkbox-height) * 1.2);
    }
}

@-webkit-keyframes dothatopcheck-19 {
    0% {
        height: 0;
    }

    50% {
        height: 0;
    }

    100% {
        height: calc(var(--checkbox-height) * 1.2);
    }
}

@-moz-keyframes dothatopcheck-19 {
    0% {
        height: 0;
    }

    50% {
        height: 0;
    }

    100% {
        height: calc(var(--checkbox-height) * 1.2);
    }
}

.checkbox-wrapper-19 input[type=checkbox] {
    display: none;
}

.checkbox-wrapper-19 .check-box1 {
    height: var(--checkbox-height);
    width: var(--checkbox-height);
    background-color: transparent;
    border: calc(var(--checkbox-height) * .1) solid #000;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: border-color ease 0.2s;
    -o-transition: border-color ease 0.2s;
    -webkit-transition: border-color ease 0.2s;
    transition: border-color ease 0.2s;
    cursor: pointer;
}

    .checkbox-wrapper-19 .check-box1::before,
    .checkbox-wrapper-19 .check-box1::after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        position: absolute;
        height: 0;
        width: calc(var(--checkbox-height) * .2);
        background-color: #34b93d;
        display: inline-block;
        -moz-transform-origin: left top;
        -ms-transform-origin: left top;
        -o-transform-origin: left top;
        -webkit-transform-origin: left top;
        transform-origin: left top;
        border-radius: 5px;
        content: " ";
        -webkit-transition: opacity ease 0.5;
        -moz-transition: opacity ease 0.5;
        transition: opacity ease 0.5;
    }

    .checkbox-wrapper-19 .check-box1::before {
        top: calc(var(--checkbox-height) * .72);
        left: calc(var(--checkbox-height) * .41);
        box-shadow: 0 0 0 calc(var(--checkbox-height) * .05) var(--background-color);
        -moz-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }

    .checkbox-wrapper-19 .check-box1::after {
        top: calc(var(--checkbox-height) * .37);
        left: calc(var(--checkbox-height) * .05);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .checkbox-wrapper-19 input[type=checkbox]:checked + .check-box1,
    .checkbox-wrapper-19 .check-box1.checked {
        border-color: #34b93d;
    }

    .checkbox-wrapper-19 input[type=checkbox]:disabled + .check-box1,
    .checkbox-wrapper-19 .check-box1:disabled {
        border-color: #ccc;
    }

        .checkbox-wrapper-19 input[type=checkbox]:checked + .check-box1::after,
        .checkbox-wrapper-19 .check-box1.checked::after {
            height: calc(var(--checkbox-height) / 2);
            -moz-animation: dothabottomcheck-19 0.2s ease 0s forwards;
            -o-animation: dothabottomcheck-19 0.2s ease 0s forwards;
            -webkit-animation: dothabottomcheck-19 0.2s ease 0s forwards;
            animation: dothabottomcheck-19 0.2s ease 0s forwards;
        }

        .checkbox-wrapper-19 input[type=checkbox]:checked + .check-box1::before,
        .checkbox-wrapper-19 .check-box1.checked::before {
            height: calc(var(--checkbox-height) * 1.2);
            -moz-animation: dothatopcheck-19 0.4s ease 0s forwards;
            -o-animation: dothatopcheck-19 0.4s ease 0s forwards;
            -webkit-animation: dothatopcheck-19 0.4s ease 0s forwards;
            animation: dothatopcheck-19 0.4s ease 0s forwards;
        }




.checkbox-wrapper-20 {
    box-sizing: border-box;
    --background-color: #fff;
    --checkbox-height: 25px;
}

@-moz-keyframes dothabottomcheck-20 {
    0% {
        height: 0;
    }

    100% {
        height: calc(var(--checkbox-height) / 2);
    }
}

@-webkit-keyframes dothabottomcheck-20 {
    0% {
        height: 0;
    }

    100% {
        height: calc(var(--checkbox-height) / 2);
    }
}

@keyframes dothabottomcheck-20 {
    0% {
        height: 0;
    }

    100% {
        height: calc(var(--checkbox-height) / 2);
    }
}

@keyframes dothatopcheck-20 {
    0% {
        height: 0;
    }

    50% {
        height: 0;
    }

    100% {
        height: calc(var(--checkbox-height) * 1.2);
    }
}

@-webkit-keyframes dothatopcheck-20 {
    0% {
        height: 0;
    }

    50% {
        height: 0;
    }

    100% {
        height: calc(var(--checkbox-height) * 1.2);
    }
}

@-moz-keyframes dothatopcheck-20 {
    0% {
        height: 0;
    }

    50% {
        height: 0;
    }

    100% {
        height: calc(var(--checkbox-height) * 1.2);
    }
}

.checkbox-wrapper-20 input[type=checkbox] {
    display: none;
}

.checkbox-wrapper-20 .check-box2 {
    height: var(--checkbox-height);
    width: var(--checkbox-height);
    background-color: transparent;
    border: calc(var(--checkbox-height) * .1) solid #000;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: border-color ease 0.2s;
    -o-transition: border-color ease 0.2s;
    -webkit-transition: border-color ease 0.2s;
    transition: border-color ease 0.2s;
    cursor: pointer;
}

    .checkbox-wrapper-20 .check-box2::before,
    .checkbox-wrapper-20 .check-box2::after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        position: absolute;
        height: 0;
        width: calc(var(--checkbox-height) * .2);
        background-color: #34b93d;
        display: inline-block;
        -moz-transform-origin: left top;
        -ms-transform-origin: left top;
        -o-transform-origin: left top;
        -webkit-transform-origin: left top;
        transform-origin: left top;
        border-radius: 5px;
        content: " ";
        -webkit-transition: opacity ease 0.5;
        -moz-transition: opacity ease 0.5;
        transition: opacity ease 0.5;
    }

    .checkbox-wrapper-20 .check-box2::before {
        top: calc(var(--checkbox-height) * .72);
        left: calc(var(--checkbox-height) * .41);
        box-shadow: 0 0 0 calc(var(--checkbox-height) * .05) var(--background-color);
        -moz-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }

    .checkbox-wrapper-20 .check-box2::after {
        top: calc(var(--checkbox-height) * .37);
        left: calc(var(--checkbox-height) * .05);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .checkbox-wrapper-20 input[type=checkbox]:checked + .check-box2,
    .checkbox-wrapper-20 .check-box2.checked {
        border-color: #34b93d;
    }

    .checkbox-wrapper-20 input[type=checkbox]:disabled + .check-box2,
    .checkbox-wrapper-20 .check-box2:disabled {
        border-color: #ccc;
    }

    .checkbox-wrapper-20 input[type=checkbox]:checked + .check-box2::after,
    .checkbox-wrapper-20 .check-box2.checked::after {
        height: calc(var(--checkbox-height) / 2);
        -moz-animation: dothabottomcheck-19 0.2s ease 0s forwards;
        -o-animation: dothabottomcheck-19 0.2s ease 0s forwards;
        -webkit-animation: dothabottomcheck-19 0.2s ease 0s forwards;
        animation: dothabottomcheck-19 0.2s ease 0s forwards;
    }

    .checkbox-wrapper-20 input[type=checkbox]:checked + .check-box2::before,
    .checkbox-wrapper-20 .check-box2.checked::before {
        height: calc(var(--checkbox-height) * 1.2);
        -moz-animation: dothatopcheck-19 0.4s ease 0s forwards;
        -o-animation: dothatopcheck-19 0.4s ease 0s forwards;
        -webkit-animation: dothatopcheck-19 0.4s ease 0s forwards;
        animation: dothatopcheck-19 0.4s ease 0s forwards;
    }




/************ Rounded Table *******************/
.rounded-table tr:hover {
    background-color: #fff8ea;
}

/* Apply rounded corners */
.rounded-table {
    border-radius: 8px;
    overflow: hidden;
    width: 652px;
}

/* Style table headers */
    .rounded-table th {
        background-color: #f2f2f2;
        padding: 8px;
        line-height: 30px;
    }
    .rounded-table tr {
        line-height: 1px;
        padding: 1px;
    }

/* Align header content in specific columns */
.rounded-table th:nth-child(1),
.rounded-table th:nth-child(3),
.rounded-table th:nth-child(4),
.rounded-table th:nth-child(5) {
    text-align: center;
}

.rounded-table th:nth-child(2) {
    text-align: right;
}

/* Style table cells */
.rounded-table td {
    padding: 7px;
    border-top: 1px solid #e0e0e0; /* Add a small top border for separation */
}

/* Align content in specific columns */
.rounded-table td:nth-child(1),
.rounded-table td:nth-child(3),
.rounded-table td:nth-child(4),
.rounded-table td:nth-child(5) {
    text-align: center;
}

.rounded-table td:nth-child(2) {
    text-align: right;
}

/* Add outer border to the table */
.rounded-table {
    border: 2px solid #ccc;
}

/************ ICONs HOVER EFFECT *******************/

/* Change color on hover for the icons */
.icon {
    font-size: 28px;
    transition: color 0.2s; /* Add a smooth color transition */
}

.icon:hover {
    color: darkorange; /* Change the color on hover */
}


/************ Tooltip *******************/


.custom-tooltip {
    /*position: relative;*/
    display: inline-block;
    cursor: pointer; /* Set cursor to indicate a tooltip */
    top: 50px;
}

    .custom-tooltip:hover .tooltip-content {
        display: block;
    }



.tooltip-content {
    display: none;
    position: absolute;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 4px;
    border-radius: 4px;
    white-space: nowrap;
}







.checkbox-wrapper-39
{
    display: inline-block;
    position: relative;
    cursor: pointer;
    vertical-align: middle;
}




    .checkbox-wrapper-39 *,
    .checkbox-wrapper-39 *::before,
    .checkbox-wrapper-39 *::after {
        box-sizing: border-box;
    }

    .checkbox-wrapper-39 label {
        display: block;
        width: 22px;
        height: 22px;
        cursor: pointer;
    }

    .checkbox-wrapper-39 input {
        visibility: hidden;
        display: none;
    }

        .checkbox-wrapper-39 input[type=checkbox]:disabled + .check-box {
            display: block;
            border: 1px solid #ccc;
            background-color: #f2f2f2;
            border-radius: 60px;
            cursor: not-allowed;
        }


        .checkbox-wrapper-39 input:checked ~ .checkbox {
            transform: rotate(45deg);
            width: 12px;
            margin-left: 12px;
            border-color: #24c78e;
            border-top-color: transparent;
            border-left-color: transparent;
            border-radius: 0;
        }



    .checkbox-wrapper-39 .checkbox {
        display: block;
        width: inherit;
        height: inherit;
        border: 3px solid #434343;
        border-radius: 60px;
        transition: all 0.375s;
    }

 /****************************************************************************/

