/* Reset default table styles */
body {
    background-color:yellow !important;
}

table, th, td {
    border: 0px solid black;
}

.checkbox-wrapper-19 {
    box-sizing: border-box;
    --background-color: #fff;
    --checkbox-height: 22px;
}

@-moz-keyframes dothabottomcheck-19 {
    0% {
        height: 0;
    }

    100% {
        height: calc(var(--checkbox-height) / 2);
    }
}

@-webkit-keyframes dothabottomcheck-19 {
    0% {
        height: 0;
    }

    100% {
        height: calc(var(--checkbox-height) / 2);
    }
}

@keyframes dothabottomcheck-19 {
    0% {
        height: 0;
    }

    100% {
        height: calc(var(--checkbox-height) / 2);
    }
}

@keyframes dothatopcheck-19 {
    0% {
        height: 0;
    }

    50% {
        height: 0;
    }

    100% {
        height: calc(var(--checkbox-height) * 1.2);
    }
}

@-webkit-keyframes dothatopcheck-19 {
    0% {
        height: 0;
    }

    50% {
        height: 0;
    }

    100% {
        height: calc(var(--checkbox-height) * 1.2);
    }
}

@-moz-keyframes dothatopcheck-19 {
    0% {
        height: 0;
    }

    50% {
        height: 0;
    }

    100% {
        height: calc(var(--checkbox-height) * 1.2);
    }
}

.checkbox-wrapper-19 input[type=checkbox] {
    display: none;
}

.checkbox-wrapper-19 .check-box1 {
    height: var(--checkbox-height);
    width: var(--checkbox-height);
    background-color: transparent;
    border: calc(var(--checkbox-height) * .1) solid #000;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: border-color ease 0.2s;
    -o-transition: border-color ease 0.2s;
    -webkit-transition: border-color ease 0.2s;
    transition: border-color ease 0.2s;
    cursor: pointer;
}

    .checkbox-wrapper-19 .check-box1::before,
    .checkbox-wrapper-19 .check-box1::after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        position: absolute;
        height: 0;
        width: calc(var(--checkbox-height) * .2);
        background-color: #34b93d;
        display: inline-block;
        -moz-transform-origin: left top;
        -ms-transform-origin: left top;
        -o-transform-origin: left top;
        -webkit-transform-origin: left top;
        transform-origin: left top;
        border-radius: 5px;
        content: " ";
        -webkit-transition: opacity ease 0.5;
        -moz-transition: opacity ease 0.5;
        transition: opacity ease 0.5;
    }

    .checkbox-wrapper-19 .check-box1::before {
        top: calc(var(--checkbox-height) * .72);
        left: calc(var(--checkbox-height) * .41);
        box-shadow: 0 0 0 calc(var(--checkbox-height) * .05) var(--background-color);
        -moz-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }

    .checkbox-wrapper-19 .check-box1::after {
        top: calc(var(--checkbox-height) * .37);
        left: calc(var(--checkbox-height) * .05);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .checkbox-wrapper-19 input[type=checkbox]:checked + .check-box1,
    .checkbox-wrapper-19 .check-box1.checked {
        border-color: #34b93d;
    }

    .checkbox-wrapper-19 input[type=checkbox]:disabled + .check-box1,
    .checkbox-wrapper-19 .check-box1:disabled {
        border-color: #ccc;
    }

    .checkbox-wrapper-19 input[type=checkbox]:checked + .check-box1::after,
    .checkbox-wrapper-19 .check-box1.checked::after {
        height: calc(var(--checkbox-height) / 2);
        -moz-animation: dothabottomcheck-19 0.2s ease 0s forwards;
        -o-animation: dothabottomcheck-19 0.2s ease 0s forwards;
        -webkit-animation: dothabottomcheck-19 0.2s ease 0s forwards;
        animation: dothabottomcheck-19 0.2s ease 0s forwards;
    }

    .checkbox-wrapper-19 input[type=checkbox]:checked + .check-box1::before,
    .checkbox-wrapper-19 .check-box1.checked::before {
        height: calc(var(--checkbox-height) * 1.2);
        -moz-animation: dothatopcheck-19 0.4s ease 0s forwards;
        -o-animation: dothatopcheck-19 0.4s ease 0s forwards;
        -webkit-animation: dothatopcheck-19 0.4s ease 0s forwards;
        animation: dothatopcheck-19 0.4s ease 0s forwards;
    }




.checkbox-wrapper-20 {
    box-sizing: border-box;
    --background-color: #fff;
    --checkbox-height: 22px;
}

@-moz-keyframes dothabottomcheck-20 {
    0% {
        height: 0;
    }

    100% {
        height: calc(var(--checkbox-height) / 2);
    }
}

@-webkit-keyframes dothabottomcheck-20 {
    0% {
        height: 0;
    }

    100% {
        height: calc(var(--checkbox-height) / 2);
    }
}

@keyframes dothabottomcheck-20 {
    0% {
        height: 0;
    }

    100% {
        height: calc(var(--checkbox-height) / 2);
    }
}

@keyframes dothatopcheck-20 {
    0% {
        height: 0;
    }

    50% {
        height: 0;
    }

    100% {
        height: calc(var(--checkbox-height) * 1.2);
    }
}

@-webkit-keyframes dothatopcheck-20 {
    0% {
        height: 0;
    }

    50% {
        height: 0;
    }

    100% {
        height: calc(var(--checkbox-height) * 1.2);
    }
}

@-moz-keyframes dothatopcheck-20 {
    0% {
        height: 0;
    }

    50% {
        height: 0;
    }

    100% {
        height: calc(var(--checkbox-height) * 1.2);
    }
}

.checkbox-wrapper-20 input[type=checkbox] {
    display: none;
}

.checkbox-wrapper-20 .check-box2 {
    height: var(--checkbox-height);
    width: var(--checkbox-height);
    background-color: transparent;
    border: calc(var(--checkbox-height) * .1) solid #000;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: border-color ease 0.2s;
    -o-transition: border-color ease 0.2s;
    -webkit-transition: border-color ease 0.2s;
    transition: border-color ease 0.2s;
    cursor: pointer;
}

    .checkbox-wrapper-20 .check-box2::before,
    .checkbox-wrapper-20 .check-box2::after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        position: absolute;
        height: 0;
        width: calc(var(--checkbox-height) * .2);
        background-color: #34b93d;
        display: inline-block;
        -moz-transform-origin: left top;
        -ms-transform-origin: left top;
        -o-transform-origin: left top;
        -webkit-transform-origin: left top;
        transform-origin: left top;
        border-radius: 5px;
        content: " ";
        -webkit-transition: opacity ease 0.5;
        -moz-transition: opacity ease 0.5;
        transition: opacity ease 0.5;
    }

    .checkbox-wrapper-20 .check-box2::before {
        top: calc(var(--checkbox-height) * .72);
        left: calc(var(--checkbox-height) * .41);
        box-shadow: 0 0 0 calc(var(--checkbox-height) * .05) var(--background-color);
        -moz-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }

    .checkbox-wrapper-20 .check-box2::after {
        top: calc(var(--checkbox-height) * .37);
        left: calc(var(--checkbox-height) * .05);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .checkbox-wrapper-20 input[type=checkbox]:checked + .check-box2,
    .checkbox-wrapper-20 .check-box2.checked {
        border-color: #34b93d;
    }

    .checkbox-wrapper-20 input[type=checkbox]:disabled + .check-box2,
    .checkbox-wrapper-20 .check-box2:disabled {
        border-color: #ccc;
    }

    .checkbox-wrapper-20 input[type=checkbox]:checked + .check-box2::after,
    .checkbox-wrapper-20 .check-box2.checked::after {
        height: calc(var(--checkbox-height) / 2);
        -moz-animation: dothabottomcheck-19 0.2s ease 0s forwards;
        -o-animation: dothabottomcheck-19 0.2s ease 0s forwards;
        -webkit-animation: dothabottomcheck-19 0.2s ease 0s forwards;
        animation: dothabottomcheck-19 0.2s ease 0s forwards;
    }

    .checkbox-wrapper-20 input[type=checkbox]:checked + .check-box2::before,
    .checkbox-wrapper-20 .check-box2.checked::before {
        height: calc(var(--checkbox-height) * 1.2);
        -moz-animation: dothatopcheck-19 0.4s ease 0s forwards;
        -o-animation: dothatopcheck-19 0.4s ease 0s forwards;
        -webkit-animation: dothatopcheck-19 0.4s ease 0s forwards;
        animation: dothatopcheck-19 0.4s ease 0s forwards;
    }




/************ Rounded Table *******************/

table.rounded-table {
    border-collapse: separate; /* Change to separate */
    border-spacing: 0; /* Remove border spacing */
    position: relative;
    background-color: white;
    height: 200px;
}

/*.rounded-table tr:hover {
    background-color: #fff8ea;
}*/


.roundedTbody tr:hover {
    background-color: #fff8ea;
}


/* Apply rounded corners */
.rounded-table {
    border-radius: 8px;
    overflow: hidden;
    width: 652px;
}

    /* Align header content in specific columns */
    .rounded-table th:nth-child(3),
    .rounded-table th:nth-child(4),
    .rounded-table th:nth-child(5) {
        text-align: center;
        border: 0px solid black;
        width: 138px;
    }

    .rounded-table th:nth-child(1) {
        text-align: center;
        width: 80px;
    }





::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.05);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 15px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #F90;
    background-image: -webkit-linear-gradient(90deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent)
}








/**********MAGIC***********/
tbody {
    background-color: white;
    display: block;
    max-height: 390px;
    overflow-y: auto;
    overflow-x:hidden;
}

    thead, tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }

/* Align content in specific columns */
.rounded-table td:nth-child(3),
.rounded-table td:nth-child(4),
.rounded-table td:nth-child(5) {
    width: 130px;
}
.rounded-table td:nth-child(2)
{
    width:240px; /*GAME NAME*/
    text-align:right;
}
.rounded-table td:nth-child(1) {
    width: 80px;
}



 /**************************/

    /* Style table headers */
    .rounded-table th {
        background-color: #f2f2f2;
        padding: 7px;
        line-height: 30px;
        top: 0;
    }

    .rounded-table tr {
        line-height: 1px;
        padding: 1px;
    }


    /* Style table cells */
    .rounded-table td {
        padding: 6px;
        border-top: 0px solid #e0e0e0; /* Add a small top border for separation */
    }

        /* Align content in specific columns */
        .rounded-table td:nth-child(1),
        .rounded-table td:nth-child(3),
        .rounded-table td:nth-child(4),
        .rounded-table td:nth-child(5) {
            text-align: center;
        }

        .rounded-table td:nth-child(2) {
            text-align: right;
        }

/* Add outer border to the table */
.rounded-table {
    border: 2px solid #ccc;
}

/************ ICONs HOVER EFFECT *******************/

/* Change color on hover for the icons */
.icon {
    font-size: 18px;
    transition: color 0.2s; /* Add a smooth color transition */
}

    .icon:hover {
        color: darkorange; /* Change the color on hover */
    }





/************ Tooltip *******************/


.custom-tooltip {
    /*position: relative;*/
    display: inline-block;
    cursor: pointer; /* Set cursor to indicate a tooltip */
    top: 50px;
}

    .custom-tooltip:hover .tooltip-content {
        display: block;
    }



.tooltip-content {
    display: none;
    position: absolute;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 4px;
    border-radius: 4px;
    white-space: nowrap;
}

#newGameButton {
    direction: rtl;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    height: 88px;
    z-index: 1;
    position: relative; /* Required for z-index to work */
   
}

.newGameButtonOut {
    transition: width 1.5s ease-out; /* Smooth transition effect */
    opacity: 0;
}

/* Container holding the div */
.newGameDIV {
    flex: 1;
    max-height: 91px;
    overflow: auto;
    opacity: 0; /* Initially invisible */
    transform: translateX(100%); /* Initially positioned to the right of its normal position */
    visibility: hidden; /* Initially hidden */
    animation-name: slideIn; /* Name of the animation */
    animation-duration: 0.8s; /* Duration of the animation */
    animation-fill-mode: forwards; /* Makes sure the final state of animation is retained */
    z-index: 2; /* Higher than the button */
    position: absolute; /* Required for z-index to work */
    align-items: center;
    justify-content: center;
}



@keyframes slideIn {
    to {
        opacity: 1; /* Fully visible */
        transform: translateX(0); /* At its normal position */
        visibility: visible; /* Visible */
    }
}

.addGameTitle {
    font-size: 17px;
    font-weight: bold;
    margin-top: 18px;
    border-bottom: 1px solid white;
    margin-right: 26px;
    text-align: right;
    direction: rtl;
    position: relative;
}

    .addGameTitle span {
        font-size: 11px;
        color: slategray;
   }