/* Reset default table styles */
table {
    border-collapse: separate; /* Change to separate */
    border-spacing: 0; /* Remove border spacing */
    width: 100%;
}

/* Apply rounded corners */
.rounded-table {
    border-radius: 8px;
    overflow: hidden;
}

    /* Style table headers */
    .rounded-table th {
        background-color: #f2f2f2;
        padding: 10px;
        text-align: left;
    }

        /* Align header content in specific columns */
        .rounded-table th:nth-child(1),
        .rounded-table th:nth-child(3),
        .rounded-table th:nth-child(4),
        .rounded-table th:nth-child(5) {
            text-align: center;
        }

        .rounded-table th:nth-child(2) {
            text-align: right;
        }

    /* Style table cells */
    .rounded-table td {
        padding: 10px;
        border-top: 1px solid #e0e0e0; /* Add a small top border for separation */
    }

        /* Align content in specific columns */
        .rounded-table td:nth-child(1),
        .rounded-table td:nth-child(3),
        .rounded-table td:nth-child(4),
        .rounded-table td:nth-child(5) {
            text-align: center;
        }

        .rounded-table td:nth-child(2) {
            text-align: right;
        }

/* Add outer border to the table */
.rounded-table {
    border: 2px solid #ccc;
}

/* Change color on hover for the icons */
.icon {
    font-size: 24px;
    transition: color 0.2s; /* Add a smooth color transition */
}

    .icon:hover {
        color: darkorange; /* Change the color on hover */
    }



.custom-tooltip {
    /*position: relative;*/
    display: inline-block;
    cursor: pointer; /* Set cursor to indicate a tooltip */
    top: 50px;
}

    .custom-tooltip:hover .tooltip-content {
        display: block;
    }



.tooltip-content {
    display: none;
    position: absolute;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 4px;
    border-radius: 4px;
    white-space: nowrap;
}
