@using TriangleProject.Shared.Models.Users
@inject HttpClient Http
@inject NavigationManager Nav
@inject IStringLocalizer<SharedResources> Localizer


<div>
    <img src="assets-images/About.png" style="width:100%;" />
</div>
<button @onclick="Confirm" class="btn btn-success">אישור</button>


@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;

    //Confirm button
    private async Task Confirm() => await BlazoredModal.CloseAsync();
}