.default-input {
    border: none !important;
    border-radius: 2px !important;
    outline-width: 2px !important;
    outline-color: gray !important;
    outline-style: solid !important;
}

.good-input {
    outline-color: yellowgreen !important;
    color: seagreen;
}

.warnning-input {
    outline-color: orange !important;
    color: saddlebrown;
}

.danger-input {
    outline-color: red !important;
    color: darkred;
}

i {
    margin-left: 5px;
}

