@inherits InputText

<Tooltip Text="@alert"> <i class="fa fa-info-circle">  </i></Tooltip>
<input @attributes="AdditionalAttributes" class="@CssClass  @inputClass"
@bind="CurrentValueAsString" @bind:event="oninput" @onkeyup="countChars" />
<span>@CurrentValueAsString.Length/30</span>


@code {


    string inputClass = "";
    [Parameter] public string alert { get; set; }
    //string alert = "";

    void countChars()
    {
        int length = CurrentValueAsString.Length;
        string minChars = AdditionalAttributes["minChars"].ToString();
        int minCharsInt = Convert.ToInt32(minChars);

        if (length > minCharsInt && length <= 10)
        {
            inputClass = "good-input";
            alert = $"יש בין {minCharsInt} ל10 תווים";
        }
        else if (length > 10 && length <= 15)
        {
            inputClass = "good-input";
            alert = "יש בין 10 ל15 תווים";
        }
        else if (length > 10 && length <= 20)
        {
            inputClass = "good-input";
            alert = "יש בין 10 ל15 תווים";
        }
        else if (length > 20 && length <= 29)
        {
            inputClass = "warnning-input";
            alert = "יש יותר מ15 תווים";
        }
        else if (length >= 30)
        {
            inputClass = "danger-input";
            alert = "הגעת למקסימום התווים";
        }
        else
        {
            inputClass = "";
            alert = "אין מספיק תווים";
        }

        //switch (length)
        //{
        //    case > minCharsInt and <= 10:
        //        inputClass = "good-input";
        //        alert = "יש בין 2 ל10 תווים";
        //        break;
        //    case > 10 and <= 15:
        //        inputClass = "warnning-input";
        //        alert = "יש בין 10 ל15 תווים";
        //        break;
        //    case > 15 and < 30:
        //        inputClass = "danger-input";
        //        alert = "יש יותר מ15 תווים";
        //        break;
        //    case >= 30:
        //        inputClass = "danger-input";
        //        alert = "הגעת למקסימום התווים";
        //        break;
        //    default:
        //        inputClass = "";
        //        alert = "אין מספיק תווים";
        //        break;
        //}
    }
}