@using TriangleProject.Shared.Models.Users
@inject HttpClient Http
@inject NavigationManager Nav
@inject IStringLocalizer<SharedResources> Localizer

<p>@Message</p>
<button @onclick="Confirm" class="btn btn-success">אישור</button>


@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;
    [Parameter] public string? Message { get; set; }

    //Confirm button
    private async Task Confirm() => await BlazoredModal.CloseAsync();
}