@using TriangleProject.Shared.Models.Users
@inject NavigationManager Nav
@inject IStringLocalizer<SharedResources> Localizer

<div>
    <p>@Message</p>
    <button @onclick="Confirm" class="btn btn-primary">@Localizer["Confirm"]</button>
    <button @onclick="Cancel" class="btn btn-secondary">@Localizer["Cancel"]</button>
</div>

@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;
    [Parameter] public string? Message { get; set; }

    //Confirm button
    private async Task Confirm() => await BlazoredModal.CloseAsync();
    //Cancel button
    private async Task Cancel() => await BlazoredModal.CancelAsync();
}