@inherits LayoutComponentBase
@inject IStringLocalizer<SharedResources> Localizer
<div class="page">
    <div class="sidebar">
    <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 d-flex justify-content-between align-items-center">
            <div>
                <a href="#">
                    <!-- Make sure to adjust the width and height as needed -->
                    <img src="Images/Logo.png" width="180" height="50" alt="PlateHunters_Logo">
                </a>
            </div>
            <div>
                <a href="https://docs.microsoft.com/aspnet/" target="_blank">@Localizer["About"]</a>
                <a href="https://docs.microsoft.com/aspnet/" target="_blank">@Localizer["How to play"]</a>
                <a href="https://docs.microsoft.com/aspnet/" target="_blank">@Localizer["Portelem"]</a>
            </div>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>