@inject IStringLocalizer<SharedResources> Localizer
<nav>
    <div>
        <NavLink href="" Match="NavLinkMatch.All">
            משחק
        </NavLink>
    </div>
    <div>
        <NavLink href="Pagewithauth">
            עורך
        </NavLink>
    </div>
    <div>
        <input class="btn-nav" type="button" value="אודות" />
    </div>
</nav>

@code {

}