

.nav-link {
    text-decoration: none;
    font-weight: bold; 
    transition: background-color 0.3s ease;  
    text-align: center;
}


nav div:hover {
    background-color: lightgray; 
}

::deep a.active {
    color: blue;
}

::deep a:hover, .btn-nav:hover {
    background-color: lightgray;
}


li {
    list-style-type: none;
    display: inline-block;
    padding: 0px 1px 0px 1px;
    margin: 0px 1px 0px 1px;
    background-color: whitesmoke;
    text-align: center;
    vertical-align: middle;
    transition: background-color 0.3s ease;
    text-decoration: none;
    font-weight: bold;
    color: blue;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}


.btn-nav {
    color: blue;
    text-decoration: none;
    display: inline-block;
    padding: 6px 2px;
    margin-bottom: 0;
    background: none;
    border: none;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.828571429;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    transition: background-color 0.3s ease;
}