@inject IStringLocalizer<SharedResources> Localizer

<nav class="navbar navbar-expand-sm">

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#">משחק</a>

        </li>
        <li class="nav-item">
            <a class="nav-link" href="PageWithAuth">עורך</a>
        </li>
        <li class="nav-item">
            <input class="btn-nav" type="button" value="איך משחקים" @onclick="ShowModalHowToPlay" />
        </li>
        <li class="nav-item">
                <input class="btn-nav" type="button" value="אודות"  @onclick="ShowModalOdot"/>
        </li>
       
    </ul>
</nav>


@code {
    [CascadingParameter] public IModalService Modal { get; set; }

    async Task ShowModalOdot()
    {
        var options = new ModalOptions()
            {
                Size = ModalSize.Large
            };
        var messageForm = Modal.Show<About>("אודות",options); // Show modal
    }
    async Task ShowModalHowToPlay()
    {
        var options = new ModalOptions()
            {
                Size = ModalSize.Large
            };
        var messageForm = Modal.Show<HowToPlay>("איך משחקים",options); // Show modal
    }
}