nav {
    display: flex;
    justify-content: space-between; /* Distribute items evenly along the main axis */
    padding: 10px 20px; /* Add some padding to the navigation bar */
    height: 100%; /* Set the height of the nav element to 100% */
    text-align: center;
}

.nav-link {
    text-decoration: none;
    color: #fff; /* Text color for navigation items */
    font-weight: bold; /* Make the text bold */
    transition: background-color 0.3s ease; /* Add a smooth transition for background color */
    text-align: center;
}

.nav-link:hover {
        background-color: lightgray; /* Background color on hover */
        cursor: pointer; /* Change cursor to a pointer on hover */
    }

.btn-nav {
    background: none;
    border: none;
    border-radius: 0;
    text-align: center;
}

nav div:hover {
    background-color: lightgray; /* Change the background color of the entire component */
}

::deep a.active {
    color: blue;
}

::deep a:hover, .btn-nav:hover {
    background-color: lightgray;
}

::deep a:active, .btn-nav:active {
    background-color: lightgray;
}